<script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
<script src="assets/js/chart.js" defer></script>
<link href="assets/css/accueil.css" rel="stylesheet" />

<div class="px-4 py-5 my-5 text-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="72" height="57" fill="currentColor" class="bi bi-droplet-half d-block mx-auto mb-4" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0q.164.544.371 1.038c.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8m.413 1.021A31 31 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
        <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z"/>
      </svg>
    <h1 class="display-5 fw-bold text-body-emphasis">Plongée ISEN</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Plongée ISEN a pour objectif de vous aider à vous renseigner sur les gestions de pression, d'oxygène et de palliers,
            pour vous permettre de profiter pleinement de votre aventure sous-marine.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Se connecter</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Inscription</button>
        </div>
    </div>
</div>

<!-- <canvas id="canvas"></canvas> -->

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Connectez-vous pour...</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <i class="bi bi-journal-text"></i>
            </div>
            <h3 class="fs-2 text-body-emphasis">Sauvegarder vos plongées</h3>
            <p>Gardez vos plongées dans votre coeur et dans votre compte, avec une possibilité de leur donner des descriptions, des images, et bien plus encore.</p>
            <!-- <a href="#" class="icon-link">
                Call to action
                <svg class="bi">
                    <use xlink:href="#chevron-right"></use>
                </svg>
            </a> -->
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <i class="bi bi-plus-circle-fill"></i>
            </div>
            <h3 class="fs-2 text-body-emphasis">Personnaliser vos aventures</h3>
            <p>Tenez compte de la quantité d'oxygène que vous amenez ainsi que la profondeur que vous souhaitez atteindre : nous nous occuperons de vous proposer la
                plongée la plus adaptée selon vos besoins.</p>
            <a href="#" class="icon-link">
                Call to action
                <svg class="bi">
                    <use xlink:href="#chevron-right"></use>
                </svg>
            </a>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <i class="bi bi-currency-exchange"></i>
            </div>
            <h3 class="fs-2 text-body-emphasis">Profitez d'un service gratuit</h3>
            <p>Plongée ISEN est un service qui se veut d'être gratuit, et restera tel quel. Profitez de sauvegarder vos données sur ce site sans aucune barrière de paiement,
                et sans avoir peur de perdre vos souvenirs.</p>
            <a href="#" class="icon-link">
                Call to action
                <svg class="bi">
                    <use xlink:href="#chevron-right"></use>
                </svg>
            </a>
        </div>
    </div>
</div>