<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Projet plongée</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <!-- JS -->
    <script src="assets/js/utils.js" defer></script>
    <script src="assets/js/listeners.js" defer></script>
</head>

<body>
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
          <li class="nav-item"><a class="nav-link active accueil" id="nav-accueil" aria-current="page">Accueil</a></li>
          <li class="nav-item"><a class="nav-link recherche" id="nav-recherche">Recherche</a></li>
          <li class="nav-item"><a class="nav-link profils" id="nav-profils">Profils</a></li>
        </ul>
    </header>

    <div class="mx-4" id="container">