<script src="/assets/js/profils.js" defer></script>
<script src="/assets/js/utils.js"></script>
<link href="assets/css/profils.css" rel="stylesheet"/>



<div class="px-4 my-5 text-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="72" height="57" fill="currentColor" class="bi bi-droplet-half d-block mx-auto mb-4" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0q.164.544.371 1.038c.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8m.413 1.021A31 31 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
        <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z"/>
      </svg>
    <h1 class="display-5 fw-bold text-body-emphasis">Profils de nos utilisateurs</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">Vous souhaitez savoir quelles ont été les plongées effectuées avant vous ? Vous êtes sur la bonne page !
            Choisissez une <code>profondeur</code> et vos obtiendrez ce que vous recherchez !

        </p>
    </div>
</div>



<label for="profondeur" class="m-1">Profondeur :</label>

<form action="" method="post" id="form_p" class="form-inline">
    <select id="profondeur" name="profondeur" class="btn btn-secondary m-2">
        <option value="x">Choisissez une option</option>
    </select>
</form>

<div class="col-auto">
    <table id="table_plonge" class="table" cellpadding="10">
        <tr>
            <th class="col-xs-1 text-center">Prénom</th>
            <th class="col-xs-1 text-center">Nom</th>
            <th class="col-xs-1 text-center">Profondeur</th>
            <th class="col-xs-1 text-center">Durée</th>
            <th class="col-xs-1 text-center">Pression initiale</th>
            <th class="col-xs-1 text-center">Volume initiale</th>
            <th class="col-xs-1 text-center">Note</th>
            <th class="col-xs-1 text-center">Description</th>
            <th class="col-xs-1 text-center">Tags</th>
        </tr>
    </table>
</div>
<div id="infos" class="m-2" style=" font-size: 20pt"></div>