<script src="/assets/js/profils.js" defer></script>
<script src="/assets/js/utils.js"></script>
<link href="assets/css/profils.css" rel="stylesheet"/>

<label for="profondeur" class="m-1">Profondeur :</label>

<form action="" method="post" id="form_p" class="form-inline">
    <select id="profondeur" name="profondeur" class="btn btn-secondary m-2">
        <option value="x">Choisissez une option</option>
    </select>
</form>

<div class="col-auto">
    <table id="table_plonge" class="table" cellpadding="10">
        <tr>
            <th class="col-xs-1 text-center">Prénom</th>
            <th class="col-xs-1 text-center">Nom</th>
            <th class="col-xs-1 text-center">Profondeur</th>
            <th class="col-xs-1 text-center">Durée</th>
            <th class="col-xs-1 text-center">Pression initiale</th>
            <th class="col-xs-1 text-center">Volume initiale</th>
            <th class="col-xs-1 text-center">Note</th>
            <th class="col-xs-1 text-center">Description</th>
            <th class="col-xs-1 text-center">Tags</th>
        </tr>
    </table>
</div>
<div id="infos" class="m-2" style=" font-size: 20pt"></div>