<script src="/assets/js/listeners.js" defer></script>
<script src="/assets/js/param.js" defer></script>
<link href="assets/css/recherche.css" rel="stylesheet"/>



<div id="rechercheContainer">
    
    <div class="px-4 my-5 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="57" fill="currentColor" class="bi bi-droplet-half d-block mx-auto mb-4" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0q.164.544.371 1.038c.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8m.413 1.021A31 31 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
            <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z"/>
          </svg>
        <h1 class="display-5 fw-bold text-body-emphasis">Rechercher un profil de plongée</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead">Vous pouvez obtenir des renseignements en fonction de vos choix.
                <code>Table</code> vous obtenez la table de toutes nos plongées.
                <code>Paramètres</code> vous obtenez des informations sur la plongée que vous souhaitez faire.
            </p>
        </div>
    </div>
    
    
        
    
    <div id="divChoice" >
        <div>
            <button class="btn btn-secondary btn-block bTable" type="button" value="submit" aria-hidden="true">
                Table
            </button>
    
        </div>
        <div>
            <button class="btn btn-primary btn-block bParam" type="button" value="submit" aria-hidden="true">
                Paramètres
            </button>
            </a>
        </div>
    </div>


</div>






