<!--<script src="/assets/js/chart.js" defer></script>-->
<script src="/assets/js/plongeeUtils.js"></script>

<h1>Table</h1>

<div class="col">
    <a class="nav-link" href="">
        <button class="btn btn-primary btn-block" type="button" value="submit" aria-hidden="true" style="background-color: #CAE5FF; color: black">
            Table
        </button>
    </a>
</div>
<div class="col">
    <a class="nav-link" href="recherche.html">
        <button class="btn btn-secondary btn-block" type="button" value="submit" aria-hidden="true" style="background-color: #6F8AB7">
            Paramètre
        </button>
    </a>
</div>



<canvas id="canvas"></canvas>