<!--<script src="/assets/js/chart.js" defer></script>-->
<script src="/assets/js/plongeeUtils.js"></script>

<h1>Table</h1>

<div class="col">
    <a class="nav-link" href="">
        <button class="btn btn-primary btn-block" type="button" value="submit" aria-hidden="true" style="background-color: #CAE5FF; color: black">
            Table
        </button>
    </a>
</div>
<div class="col">
    <a class="nav-link" href="recherche.html">
        <button class="btn btn-secondary btn-block" type="button" value="submit" aria-hidden="true" style="background-color: #6F8AB7">
            Paramètre
        </button>
    </a>
</div>

<label for="profondeur" class="m-1">Profondeur :</label>

<form action="" method="post" id="profondeur" class="form-inline">
    <select id="profondeur" name="profondeur" class="btn btn-secondary m-2"> <!-- 6, 8, 10, 12, 15, 18, 20, 22, 25, 28, 30, 32, 35, 38, 40, 42, 45, 48, 50, 52, 55, 58, 60, 62, 65 -->
        <option value="x">Choisissez une option</option>
        <option value="6">6m</option>
    </select>
    <div class="form-group row-2">
        <button id="send-form" class="btn btn-primary m-2" type="submit" value="submit" style="background-color: #89BBFE; padding: 5px">Valider</button>
    </div>
</form>

<table id="table_plonge" border="1">
    <tr>
        <th>profondeur</th>
        <th>Durée</th>
        <th>Paliers</th>
        <th>DTR</th>
        <th>GPS</th>
    </tr>
</table>