<script src="/assets/js/table.js" defer></script>
<script src="/assets/js/utils.js" defer></script>
<script src="/assets/js/param.js" defer></script>
<script src="/assets/js/plongeeUtils.js" defer></script>
<link href="assets/css/table.css" rel="stylesheet"/>



<div id="divChoice">
    <div>
        <button class="btn btn-secondary btn-block bTable" type="button" value="submit" aria-hidden="true">
            Table
        </button>

    </div>
    <div>
        <button class="btn btn-primary btn-block bParam" type="button" value="submit" aria-hidden="true">
            Paramètres
        </button>
        </a>
    </div>
</div>

<label for="profondeur" class="m-1">Profondeur :</label>

<form action="" method="post" id="form_p" class="form-inline">
    <select id="profondeur" name="profondeur" class="btn btn-secondary m-2">
        <option value="x">Choisissez une option</option>
    </select>
</form>
<div class="col-auto">
    <table id="table_plonge" class="table" cellpadding="10">
        <tr>
            <th class="col-xs-1 text-center">Profondeur</th>
            <th class="col-xs-1 text-center">Durée</th>
            <th class="col-xs-1 text-center">Paliers 15m</th>
            <th class="col-xs-1 text-center">Paliers 12m</th>
            <th class="col-xs-1 text-center">Paliers 9m</th>
            <th class="col-xs-1 text-center">Paliers 6m</th>
            <th class="col-xs-1 text-center">Paliers 3m</th>
            <th class="col-xs-1 text-center">DTR</th>
            <th class="col-xs-1 text-center">GPS</th>
        </tr>
    </table>
</div>
<div id="infos" class="m-2" style="font-size: 23px"></div>