.container{
    margin-top : 2rem;
}

#divChoice {
    display: flex;
    gap: 20px;
    margin-left: 37vw;
    margin-bottom : 13vw;
}

.bParam {
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #6F8AB7;
    color: white;
}


.bParam:hover{
    background-color: #5a7397;
}


.bTable{
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #CAE5FF;
    color: black;
}

.bTable:hover{
    background-color: #b0d4ff;
}

