#divChoice {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh; /* Full viewport height */
    gap: 20px;

}

.bParam {
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #6F8AB7;
    color: white;
}


.bParam:hover{
    background-color: #5a7397;
}


.bTable{
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #CAE5FF;
    color: black;
}

.bTable:hover{
    background-color: #b0d4ff;
}


