/* BODY */
body {
    background-color: #cae5ff;
}

/* HEADER */
.nav-link {
    cursor: pointer;
}

.nav-item > .nav-link.active {
    color: black;
    background-color: #89bbfe;
}

.nav-link:hover {
    background-color: #acedff;
}

/* FOOTER */
footer {
    background-color: #89bbfe;
}

footer>ul>li>a>i {
    margin: 5px;
}

canvas {
    background-color: white;
    height: 15px;
}

/* ALERTES */
#message-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 9999;
}

.alert>svg {
    width: 16px;
    height: 16px;
}

.mesplongees {
    cursor: pointer;
}