#divChoice {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 3rem;
}


.bParam {
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #6F8AB7;
    color: white;
}

.bParam:hover{
    background-color: #5a7397;
}


.bTable{
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #CAE5FF;
    color: black;
}

.bTable:hover{
    background-color: #b0d4ff;
}

h1 {
    margin: 20px 0;
    text-align: center;
    color: #007bff;
}
label {
    font-size: 18px;
}
.form-inline {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#table_plonge {
    margin: 0 auto;
    width: 90%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}
#table_plonge th, #table_plonge td {
    text-align: center;
    vertical-align: middle;
}
#infos {
    font-size: 20pt;
    text-align: center;
    color: #28a745;
    margin-top: 20px;
    margin-bottom: 10rem;
}



