#divChoice {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 3rem;
}

.bParam {
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #6F8AB7;
    color: white;
}

.bParam:hover{
    background-color: #5a7397;
}


.bTable{
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #CAE5FF;
    color: black;
}

.bTable:hover{
    background-color: #b0d4ff;
}





.form-container {
    margin-bottom: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300%;
}


#valuesContent{
    display: flex;
    gap : 1rem;
    margin-bottom : 3rem;
}

#divCanvas{
    width : 70%;
}

.compInfos{
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #6F8AB7;
    color: white;
    margin-left: 12rem;
    align-items: center;
}

.compInfos:hover{
    background-color: #5a7397;
}



#modalInfos .modal-body{
    display: flex;
    gap : 3rem;
}


#valuesContent .table-container {
    margin: 20px auto;
    width: 90%;
}
#valuesContent .table th, #valuesContent .table td {
    text-align: center;
    vertical-align: middle;
}
#valuesContent .table thead th {
    background-color: #6F8AB7;
    color: white;
}
#tbodyTab .highlight-row {
    background-color: #ffe6e6 !important;
    color: red;
}